.product-container {
	display: grid;
	grid-template-columns: 50% 50%;
	padding-block: 4em;
	padding-inline: 2em;
	gap: 4em;
}

.product-container img {
	width: 80%;
	margin-inline: auto;
	position: sticky;
	top: calc(76px + 2em);
}

.product-name {
	font-weight: 500;
}

.product-price {
	font-weight: 700;
	font-size: 1.3em;
	margin-top: 0.75em;
}

.product-container hr {
	margin-block: 2em;
	border: none;
	border-top: solid 1px #ccc;
}

.product-description :nth-child(1) {
	font-weight: 700;
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

.product-description :not(:nth-child(1)) {
	font-size: 0.9em;
}
.product-description :not(:nth-child(1)) + * {
	margin-top: 1em;
}

.product-customization {
	font-weight: 700;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
	gap: 0.25em;
}

.product-customization input,
.product-customization small {
	font-weight: normal;
}

.product-customization input {
	max-width: 300px;
	border: solid 1px #999;
	padding: 0.25em 0.5em;
}

.product-customization small {
	font-size: 0.7em;
}

.product-qty-cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-quantity {
	font-weight: 700;
	display: flex;
	gap: 1em;
	align-items: center;
	align-self: stretch;
}

.product-quantity input {
	width: 50px;
	height: 100%;
	text-align: center;
	border: solid 1px #999;
	padding: 0.25em 0.5em;
	-moz-appearance: textfield; /* Firefox */
}

.product-quantity input::-webkit-outer-spin-button,
.product-quantity input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form .error {
	margin-top: 1em;
	color: #bf0000;
}

@media screen and (max-width: 768px) {
	.product-container {
		grid-template-columns: 100%;
		gap: 2.5em;
		padding-block: 2em;
		padding-inline: 0;
	}

	.product-qty-cart {
		flex-direction: column;
		gap: 1.5em;
	}

	.product-qty-cart label {
		width: 100%;
	}

	.product-qty-cart button {
		justify-content: center;
		height: 35px;
	}
}
