h1 {
	font-weight: 600;
}

.order-container {
	display: grid;
	grid-template-columns: 75% 25%;
	padding-block: 2em;
	gap: 4em;
}

hr {
	margin-block: 1em;
	border: none;
	border-top: solid 1px #ccc;
}

.order-empty {
	font-style: italic;
	text-align: center;
	font-size: 1.2em;
	margin-block: 1.5em;
}

.order-list-item {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	color: inherit;
	text-decoration: none;
}

.order-list-item .order-id {
	font-weight: bold;
	font-size: 1.25em;
	font-family: 'Hepta Slab', serif;
	font-weight: 600;
}

.order-list-item .order-total {
	display: flex;
	gap: 0.5em;
	font-size: 1.1em;
}

.order-list-item .order-total.small {
	font-size: 0.95em;
	margin-bottom: -0.5em;
	opacity: 0.8;
}

.order-list-item .order-total strong {
	font-weight: 600;
}

.user-loyalty {
	align-items: center;
	justify-content: space-between;
	font-size: 1.25em;
	font-weight: 600;
	position: sticky;
	top: 5em;
}

.user-loyalty h3 {
	margin-bottom: 0.7em;
}

.user-loyalty a {
	text-decoration: none;
	color: inherit;
}

.card {
	background-image: linear-gradient(
		135deg,
		rgb(131, 24, 22),
		#a52422,
		rgb(182, 49, 47),
		rgb(207, 84, 82),
		rgb(226, 108, 106)
	);
	aspect-ratio: 1.8;
	width: 100%;
	max-width: 450px;
	margin-inline: auto;
	border-radius: 20px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	color: rgb(255, 220, 215);
}

.card .qr-code {
	width: 100%;
	margin-inline: auto;
	border-radius: 10px;
	opacity: 0.85;
	image-rendering: pixelated;
}

.card .full-name {
	font-size: 1em;
	font-family: 'Hepta Slab', serif;
	font-weight: 500;
}

.card .points {
	font-size: 0.85em;
	font-family: 'Hepta Slab', serif;
	font-weight: 500;
}

.loyalty-list-item {
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
}

.loyalty-list-item small {
	font-size: 0.7em;
	opacity: 0.8;
}

h4.loyalty-user {
	font-weight: 400;
	opacity: 0.85;
	/* margin-bottom: 0.5em; */
	font-size: 0.9em;
}

h4.loyalty-user + h1 {
	margin-bottom: 0.5em;
}

.auth_key {
	font-weight: 400;
	font-family: monospace;
	margin-bottom: 2em;
	word-break: break-all;
}
